.sample-text {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(to right, red, green, blue);
    background-clip: text;
    color: transparent;
}